
.nav-link {
    transition: 0.3s ease-out;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
}
.login {
    display: none;
}

.register {
    display: block;
    cursor: pointer;
}
@media(max-width:900px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 69px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}
@media(max-width:900px) {
    .hamburger {
        display: block;
    }
    .login {
        display: block;
    }
    .register {
        display: none;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 50px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item {
        margin: 16px 0;
    }

    .nav-menu {
        display: flex;
        justify-content: center;
    }
    .nav-menu.active {
        left: 0;
    }
}